## vi: ft=jinja:
## SPDX-License-Identifier: NCSA
## Copyright (c) 2020 Max Rees
## See LICENSE for more information.
# extends "base.tmpl"
# set title = ["Package:", pkg.name, "|", conf["distro"], branch]|join(" ")
# set newest = (versions|rejectattr("vrank", "none")|min(attribute="vrank")).version
## This isn't technically needed since repology is smart enough to
## resolve subpackage names to their origin names, but it might improve
## caching on their end.
# set repology_name = pkg.origin.name if pkg.origin else pkg.name

# block breadcrumb
<nav aria-label="breadcrumb">
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="-/versions">packages</a></li>
  <li class="breadcrumb-item"><a href="{{ branch }}">{{ branch }}</a></li>
  <li class="breadcrumb-item active" aria-current="page"><a href="{{ branch }}/{{ pkg.name }}">{{ pkg.name }}</a></li>
 </ol>
</nav>
# endblock

# block content
<div class="row">
<h3>
Latest version availability by architecture
# if conf.get("web.repology.link") and conf.get("web.repology.badge")
 <a href="{{ conf["web.repology.link"] ~ repology_name }}">
  <img src="{{ conf["web.repology.badge"] ~ repology_name }}" onerror="this.style.display='none'" alt="Repology version information">
 </a>
# endif
</h3>
<div class="table-responsive">
<table class="table table-bordered pkgver">
  <thead class="thead-light">
  <tr>
    # for arch in arches
    <th>{{ arch }}</th>
    # endfor
  </tr>
  </thead>
  <tbody>
  <tr>
    # for arch in arches
    #   set apk = versions|selectattr("arch", "==", arch)|first
    #   if apk.vrank is none
    #     set cell = ("table-danger", "&cross;")
    #   elif apk.vrank
    #     set cell = ("table-warning", "~ " ~ apk.version)
    #   else
    #     set cell = ("table-success", "&check; " ~ apk.version)
    #   endif
    <td class="version {{ cell[0] }}">{{ cell[1]|safe }}</td>
    # endfor
  </tr>
  </tbody>
</table>
</div>

<h3>Details for version {{ newest }}</h3>
<div class="table-responsive">
<table class="table is-bordered" id="pkgdetails">
  <tbody class="thead-light">
  <tr><th>Description</th> <td>{{ pkg.description }}</td></tr>
  # if pkg.url
  <tr><th>URL</th>         <td>{{ pkg.url|urlize }}</td></tr>
  # endif
  <tr><th>License</th>     <td>{{ pkg.license }}</td></tr>
  <tr><th>Repository</th>  <td>{{ pkg.repo }}</td></tr>
  # if pkg.origin
  <tr>
    <th>Parent package</th>
    <td>
      <a href="{{ branch }}/{{ pkg.origin.name }}">
        {{ pkg.origin.name }}
      </a>
    </td>
  </tr>
  # endif
  # if pkg.maintainer
  <tr><th>Maintainer</th>  <td>{{ pkg.maintainer }}</td></tr>
  # endif
  <tr><th>Size</th>        <td>{{ pkg.size|filesizeformat(true) }}</td></tr>
  <tr><th>Updated</th>     <td>{{ pkg.updated|datetime }}</td></tr>
  # if pkg.revision
  # set revision = pkg.revision
  # if revision.endswith("-dirty")
  # set revision = revision.replace("-dirty", "", 1)
  # set tag = " <span class='badge badge-danger'>dirty</span>"
  # endif
  # if conf.get("web.url.rev")
  # set url = conf["web.url.rev"].format(revision=revision)
  <tr><th>Revision</th>    <td><a href="{{ url }}">{{ revision ~ (tag|safe) }}</a></td></tr>
  # endif
  # endif
  # if conf.get("web.url.tree")
  # set url = conf["web.url.tree"].format(startdir=pkg.startdir)
  <tr><th>Source files</th><td><a href="{{ url }}">View git repository</a></td></tr>
  # endif
  </tbody>
</table>
</div>
</div>

<div id="related" class="row">
  <div class="col-12 col-md-4">
   <details id="deps">
    # set deps = deps|groupby("dep")|list
    <summary>Dependencies ({{ deps|length }}) </summary>
    <ul>
    # for _, deps in deps
      # set dep = deps[0]
      # set archdeps = deps|selectattr("arch")|groupby("arch")|list
      # if not dep.rdep
        # set class = "class='badge badge-danger' title='This package does not exist'"
      # elif archdeps
        # set class = "class='badge badge-warning' title='This dependency only occurs on the following architectures'"
      # endif
      <li>
        # if dep.rdep
        <a href="{{ branch }}/{{ dep.dep }}">
        # endif
          <span {{ class|safe }}>{{ dep.dep }}</span>
          # for arch, _ in archdeps
          <span class="badge badge-secondary">{{ arch }}</span>
          # endfor
        # if dep.rdep
        </a>
        # endif
      </li>
    # endfor
    </ul>
   </details>
  </div>
  <div class="col-12 col-md-4">
   <details id="rdeps">
    # set rdeps = rdeps|groupby("dep")|list
    <summary>Required by ({{ rdeps|length }})</summary>
    <ul>
    # for _, rdeps in rdeps
      # set rdep = rdeps[0]
      # set archdeps = rdeps|selectattr("arch")|groupby("arch")|list
      # if rdep.arch
      # set class = "class='badge badge-warning' title='This dependency only occurs on the following architectures'"
      # endif
      <li>
        <a href="{{ branch }}/{{ rdep.dep }}">
          <span {{ class|safe }}>{{ rdep.dep }}</span>
          # for arch, _ in archdeps
          <span class="badge badge-secondary">{{ arch }}</span>
          # endfor
        </a>
      </li>
    # endfor
    </ul>
   </details>
  </div>
  # if subpkgs
  <div class="col-12 col-md-4">
   <details id="subpkgs">
    <summary>Subpackages ({{ subpkgs|length }})</summary>
    <ul>
    # for subpkg in subpkgs|sort(attribute="name")
      <li>
        <a href="{{ branch }}/{{ subpkg.name }}">
          {{ subpkg.name }}
        </a>
      </li>
    # endfor
    </ul>
   </details>
  </div>
  # endif
</div>

# if bugs and conf.get("web.url.bug")
<h3>Open issues</h3>
<table class="table" id="bugs">
  <tr>
    <th>#</th>
    <th>Summary</th>
    <th>Tags</th>
  </tr>
  # for bug in bugs|sort(attribute="id")
  #   set url = conf["web.url.bug"].format(id=bug.id)
  <tr>
    <td><a href="{{ url }}">{{ bug.id }}</a></td>
    <td><a href="{{ url }}">{{ bug.summary }}</a></td>
    <td>{{ bug.tags }}</td>
  </tr>
  # endfor
</table>
# endif

# if merges and conf.get("web.url.mr")
<h3>Open merge requests</h3>
<table class="table" id="merges">
  <tr>
    <th>#</th>
    <th>Summary</th>
    <th>Tags</th>
  </tr>
  # for merge in merges|sort(attribute="id")
  #   set url = conf["web.url.mr"].format(id=merge.id)
  <tr>
    <td><a href="{{ url }}">{{ merge.id }}</a></td>
    <td><a href="{{ url }}">{{ merge.summary }}</a></td>
    <td>{{ merge.tags }}</td>
  </tr>
  # endfor
</table>
# endif

# endblock
