nav.breadcrumb a { color: #b5b5b5 }
nav.breadcrumb .is-active a { color: white }
.pagination-list li { list-style-type: none }

.version { text-align: center !important; vertical-align: middle !important }
.version.is-success, .version.is-warning, .version.is-danger {
  border-color: #dbdbdb !important
}

.pkgver th, #pkgdetails th, #related .column summary{
  background: #EAECF0;
  border: 1px solid #A2A9B1;
}
.pkgver th { text-align: center !important }
#pkgdetails th { width: 10em }

#related .column summary {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.2em 0.4em;
  text-align: center;
  /* this is the default display type for summary, so it's a no-op for
   * browsers that support it, and makes it look more like what it ought
   * to for ones that don't.
   */
  display: list-item;
}
#related .column ul { padding-left: 1.2em }

#search-controls .glob { margin-bottom: 0.5rem }
#search-controls .glob > .field { margin-bottom: 0 }
#search-controls .glob .control { padding: 0 0.25rem 0 0.25rem }
