nav.breadcrumb a { color: #b5b5b5 }
nav.breadcrumb .is-active a { color: white }

.version { text-align: center }
.pkgver th { word-break: break-all }
.cell-yes { background: #DFF0D8; color: black }
.cell-no { background: #F2DEDE; color: black }
.cell-partial { background: #FFF176; color: black }

#related .column summary {
  font-size: 1.2em;
  font-weight: bold;
  background: #EAECF0;
  padding: 0.2em 0.4em;
  border: 1px solid #A2A9B1;
  text-align: center;
  /* this is the default display type for summary, so it's a no-op for
   * browsers that support it, and makes it look more like what it ought
   * to for ones that don't.
   */
  display: list-item;
}

#related .column ul { padding-left: 1.2em }
.pagination-list li { list-style-type: none }
