## vi: ft=jinja:
## SPDX-License-Identifier: NCSA
## Copyright (c) 2020 Max Rees
## Copyright (c) 2020 A. Wilcox
## See LICENSE for more information.
# extends "base.tmpl"
# set title = ["Packages in", conf["distro"], branch]|join(" ")
# set n = pkgs|length

# block breadcrumb
<nav class="breadcrumb is-medium">
 <ul>
  <li><a href="-/versions">packages</a></li>
  <li class="is-active"><a href="{{ branch }}">{{ branch }}</a></li>
 </ul>
</nav>
# endblock

# block content
<h3 class="title is-3">Recently updated packages</h3>
{{ quicksearch(branch) }}
<table class="table is-bordered is-striped is-hoverable">
  <tr>
    <th>Name</th>
    <th>Description</th>
    # for arch in arches
    <th align="center">{{ arch }}</th>
    # endfor
  </tr>
  # for pkg in pkgs
  <tr>
    <td>
      <a href="{{ branch }}/{{ pkg.name }}">
        {{ pkg.name }}
      </a>
    </td>
    <td>{{ pkg.description }}</td>
    {{ table_availability(arches, pkg, versions) }}
  </tr>
  # endfor
</table>

# set last_page = query["total"] // query["limit"] + 1
# set page = query["page"]
# if last_page
<nav class="pagination is-centered" aria-label="Page controls">
# if page > 1
<a class="pagination-previous" href="{{ branch }}?page={{ page - 1 }}">Newer</a>
# else
<a class="pagination-previous" title="This is the first page" disabled>Newer</a>
# endif
# if page < last_page
<a class="pagination-next" href="{{ branch }}?page={{ page + 1 }}">Older</a>
# else
<a class="pagination-next" title="This is the last page" disabled>Older</a>
# endif
<ul class="pagination-list">
    # if page > 1
    <li><a class="pagination-link" href="{{ branch }}?page=1">1</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    # endif
    <li><a class="pagination-link is-current" href="{{ branch }}?page={{ page }}">{{ page }}</a></li>
    # if page < last_page
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" href="{{ branch }}?page={{ last_page }}">{{ last_page }}</a></li>
    # endif
  </ul>
</nav>
# endif

# endblock
