## vi: ft=jinja:
## SPDX-License-Identifier: NCSA
## Copyright (c) 2020 Max Rees
## See LICENSE for more information.
# extends "base.tmpl"
# set title = [conf["distro"], "package collections by OS version"]|join(" ")

# block content
<p>Choose an operating system version to view available packages.</p>
<ul>
# for branch in branches
 <li><a href="{{ branch }}">{{ branch }}</a></li>
# endfor
</ul>
# endblock
