## vi: ft=jinja:
## SPDX-License-Identifier: NCSA
## Copyright (c) 2020 Max Rees
## See LICENSE for more information.
# extends "base.tmpl"
# set title = ["Package:", pkg.name, "|", conf["distro"], branch]|join(" ")
# set newest = (versions|rejectattr("vrank", "none")|min(attribute="vrank")).version
## This isn't technically needed since repology is smart enough to
## resolve subpackage names to their origin names, but it might improve
## caching on their end.
# set repology_name = pkg.origin.name if pkg.origin else pkg.name

# block breadcrumb
<nav class="breadcrumb is-medium">
 <ul>
  <li><a href="-/versions">packages</a></li>
  <li><a href="{{ branch }}">{{ branch }}</a></li>
  <li class="is-active"><a href="{{ branch }}/{{ pkg.name }}">{{ pkg.name }}</a></li>
 </ul>
</nav>
# endblock

# block content
<h3 class="title is-3">Latest version availability by architecture</h3>
# if "repology_link" in conf and "repology_badge" in conf
<p>
 <a href="{{ conf["repology_link"] ~ repology_name }}">
  <img src="{{ conf["repology_badge"] ~ repology_name }}" onerror="this.style.display='none'" alt="Repology version information">
 </a>
</p>
# endif
<table class="table is-bordered pkgver">
  <tr>
    # for arch in arches
    <th>{{ arch }}</th>
    # endfor
  </tr>
  <tr>
    # for arch in arches
    #   set apk = versions|selectattr("arch", "==", arch)|first
    #   if apk.vrank is none
    #     set cell = ("is-danger", "&cross;")
    #   elif apk.vrank
    #     set cell = ("is-warning", "~ " ~ apk.version)
    #   else
    #     set cell = ("is-success", "&check; " ~ apk.version)
    #   endif
    <td class="version {{ cell[0] }}">{{ cell[1]|safe }}</td>
    # endfor
  </tr>
</table>

<h3 class="title is-3">Details for version {{ newest }}</h3>
<table class="table is-bordered" id="pkgdetails">
  <tr><th>Description</th> <td>{{ pkg.description }}</td></tr>
  # if pkg.url
  <tr><th>URL</th>         <td>{{ pkg.url|urlize }}</td></tr>
  # endif
  <tr><th>License</th>     <td>{{ pkg.license }}</td></tr>
  <tr><th>Repository</th>  <td>{{ pkg.repo }}</td></tr>
  # if pkg.origin
  <tr>
    <th>Parent package</th>
    <td>
      <a href="{{ branch }}/{{ pkg.origin.name }}">
        {{ pkg.origin.name }}
      </a>
    </td>
  </tr>
  # endif
  # if pkg.maintainer
  <tr><th>Maintainer</th>  <td>{{ pkg.maintainer }}</td></tr>
  # endif
  <tr><th>Size</th>        <td>{{ pkg.size|filesizeformat(true) }}</td></tr>
  <tr><th>Updated</th>     <td>{{ pkg.updated }}</td></tr>
  # if pkg.revision
  # set revision = pkg.revision
  # if revision.endswith("-dirty")
  # set revision = revision.replace("-dirty", "", 1)
  # set tag = " <span class='tag is-danger'>dirty</span>"
  # endif
  # set url = conf["gl_rev_url"].format(revision=revision)
  <tr><th>Revision</th>    <td><a href="{{ url }}">{{ revision ~ (tag|safe) }}</a></td></tr>
  # endif
  # set url = conf["gl_url"].format(startdir=startdir)
  <tr><th>Source files</th><td><a href="{{ url }}">View git repository</a></td></tr>
</table>

<div id="related" class="columns is-desktop">
  <div class="column">
   <details id="deps">
    # set deps = deps|groupby("dep")|list
    <summary>Dependencies ({{ deps|length }}) </summary>
    <ul>
    # for _, deps in deps
      # set dep = deps[0]
      # set archdeps = deps|selectattr("arch")|groupby("arch")|list
      # if not dep.rdep
        # set class = "class='tag is-danger' title='This package does not exist'"
      # elif archdeps
        # set class = "class='tag is-warning' title='This dependency only occurs on the following architectures'"
      # endif
      <li>
        # if dep.rdep
        <a href="{{ branch }}/{{ dep.dep }}">
        # endif
          <span {{ class|safe }}>{{ dep.dep }}</span>
          # for arch, _ in archdeps
          <span class="tag is-light">{{ arch }}</span>
          # endfor
        # if dep.rdep
        </a>
        # endif
      </li>
    # endfor
    </ul>
   </details>
  </div>
  <div class="column">
   <details id="rdeps">
    # set rdeps = rdeps|groupby("dep")|list
    <summary>Required by ({{ rdeps|length }})</summary>
    <ul>
    # for _, rdeps in rdeps
      # set rdep = rdeps[0]
      # set archdeps = rdeps|selectattr("arch")|groupby("arch")|list
      # if rdep.arch
      # set class = "class='tag is-warning' title='This dependency only occurs on the following architectures'"
      # endif
      <li>
        <a href="{{ branch }}/{{ rdep.dep }}">
          <span {{ class|safe }}>{{ rdep.dep }}</span>
          # for arch, _ in archdeps
          <span class="tag is-light">{{ arch }}</span>
          # endfor
        </a>
      </li>
    # endfor
    </ul>
   </details>
  </div>
  # if subpkgs
  <div class="column">
   <details id="subpkgs">
    <summary>Subpackages ({{ subpkgs|length }})</summary>
    <ul>
    # for subpkg in subpkgs|sort(attribute="name")
      <li>
        <a href="{{ branch }}/{{ subpkg.name }}">
          {{ subpkg.name }}
        </a>
      </li>
    # endfor
    </ul>
   </details>
  </div>
  # endif
</div>

# if bugs
<h3 class="title is-3">Open issues</h3>
<table class="table" id="bugs">
  <tr>
    <th>#</th>
    <th>Summary</th>
    <th>Tags</th>
  </tr>
  # for bug in bugs|sort(attribute="id")
  #   set url = conf["bz_url"].format(id=bug.id)
  <tr>
    <td><a href="{{ url }}">{{ bug.id }}</a></td>
    <td><a href="{{ url }}">{{ bug.summary }}</a></td>
    <td>{{ bug.tags }}</td>
  </tr>
  # endfor
</table>
# endif

# if merges
<h3 class="title is-3">Open merge requests</h3>
<table class="table" id="merges">
  <tr>
    <th>#</th>
    <th>Summary</th>
    <th>Tags</th>
  </tr>
  # for merge in merges|sort(attribute="id")
  #   set url = conf["gl_mr_url"].format(id=merge.id)
  <tr>
    <td><a href="{{ url }}">{{ merge.id }}</a></td>
    <td><a href="{{ url }}">{{ merge.summary }}</a></td>
    <td>{{ merge.tags }}</td>
  </tr>
  # endfor
</table>
# endif

# endblock
