## vi: ft=jinja:
## SPDX-License-Identifier: NCSA
## Copyright (c) 2020 Max Rees
## See LICENSE for more information.
# extends "base.tmpl"
# if searched
# set title = ["Search results for packages in ", conf["distro"], branch]|join(" ")
# else
# set title = ["Search for packages in ", conf["distro"], branch]|join(" ")
# endif
# set n = pkgs|length
# set simple = query.get("simple")
# if simple and not searched
# set simple = false
# endif

# block breadcrumb
<nav class="breadcrumb is-medium">
 <ul>
  <li><a href="-/versions">packages</a></li>
  <li><a href="{{ branch }}">{{ branch }}</a></li>
  <li class="is-active"><a href="{{ branch }}/-/search">search</a></li>
 </ul>
</nav>
# endblock

# block content
# if not simple
<div class="columns">
<div class="column is-one-third" id="search-controls">
<form action="{{ branch }}/-/search" method="get">
	<div class="field is-grouped glob">
  {{ i_text("repo", "Repository") }}
  {{ i_text("name", "Name") }}
	</div>
	<div class="field is-grouped glob">
  {{ i_text("description", "Description") }}
  {{ i_text("url", "URL") }}
	</div>
	<div class="field is-grouped glob">
  {{ i_text("license", "License") }}
  # call i_select("maintainer", "Maintainer", [])
    <option{{ i_selected_if("maintainer", "") }} value="">Maintainer</option>
    # for maint in maints
    <option{{ i_selected_if("maintainer", maint) }}>{{ maint }}</option>
    # endfor
  # endcall
	</div>
	<article class="message">
	<div class="message-body">
	You can use the glob operators
	"<span class="is-family-code">*</span>"
	and
	"<span class="is-family-code">?</span>"
	in the text fields.
	</div>
	</article>
  <div class="field">
  {{ i_check("cs", "Case-sensitive match with exact globbing") }}
  {{ i_check("subpkgs", "Include subpackages") }}
  {{ i_check("availability", "Show availability on each architecture") }}
  </div>
	<article class="message">
	<div class="message-header">
	Show only packages with:
	</div>
	<div class="message-body">
  <div class="field">
  {{ i_check("dirty", "dirty revisions") }}
  {{ i_check("vers", "version spread") }}
  {{ i_check("deps", "dependency spread") }}
  {{ i_check("rdeps", "reverse dependency spread") }}
  {{ i_check("mdeps", "missing dependencies") }}
  {{ i_check("bugs", "open issues") }}
  {{ i_check("merges", "open merge requests") }}
  </div>
	</div>
	</article>

  {{ i_select(
    "sort", "Sort by",
    (
      ("name", "Sort by name"),
      ("updated", "Sort by update time"),
    ),
  ) }}
 <div class="field is-grouped">
 <p class="control">
  <input class="button is-primary" type="submit" value="Search">
 </p>
 <p class="control">
  <a class="button is-light" href="{{ branch }}/-/search">Reset</a>
 </p>
 </div>
</form>
</div>
# endif

# if searched
# if not simple
<div class="column">
# endif
<h3 class="title is-3">Search results</h3>
# if simple
{{ quicksearch(branch) }}
# endif
# if pkgs
# if query["page"] == 1
<div class="notification is-success is-light">
{{ query["total"] }} packages were found.
# if query["total"] // query["limit"]
Displaying the first {{ query["limit"] }}.
# endif
</div>
# endif
<table class="table is-bordered is-striped is-hoverable">
 <tr>
  <th>Name</th>
  <th>Description</th>
  # for arch in arches
  <th align="center">{{ arch }}</th>
  # endfor
 </tr>
 # for pkg in pkgs
 <tr>
  <td><a href="{{ branch }}/{{ pkg.name }}">{{ pkg.name }}</a></td>
  <td>{{ pkg.description }}</td>
	{{ table_availability(arches, pkg, versions) }}
 </tr>
 # endfor
</table>

# set last_page = query["total"] // query["limit"] + 1
# set page = query["page"]
# if last_page > 1
<nav class="pagination is-centered" aria-label="Page controls">
# if page > 1
<a class="pagination-previous" href="{{ request }}&page={{ page - 1 }}">Previous</a>
# else
<a class="pagination-previous" title="This is the first page" disabled>Previous</a>
# endif
# if page < last_page
<a class="pagination-next" href="{{ request }}&page={{ page + 1 }}">Next</a>
# else
<a class="pagination-next" title="This is the last page" disabled>Next</a>
# endif
<ul class="pagination-list">
    # if page > 1
    <li><a class="pagination-link" href="{{ request }}&page=1">1</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    # endif
    <li><a class="pagination-link is-current" href="{{ request }}&page={{ page }}">{{ page }}</a></li>
    # if page < last_page
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" href="{{ request }}&page={{ last_page }}">{{ last_page }}</a></li>
    # endif
  </ul>
</nav>
# endif

# else
<div class="notification is-danger">
No packages matched your search terms.
</div>
# endif
# if not simple
</div>
# endif
# endif
# endblock
