## vi: ft=jinja:
# extends "base.tmpl"
# set title = ["Packages in", conf["distro"], branch]|join(" ")
# set n = pkgs|length

# block breadcrumb
<nav class="breadcrumb is-medium">
 <ul>
  <li><a href="packages">packages</a></li>
  <li class="is-active"><a href="packages/{{ branch }}">{{ branch }}</a></li>
 </ul>
</nav>
# endblock

# block content
<h3>Recently updated packages</h3>
<table class="table is-bordered is-striped is-hoverable">
  <tr>
    <th>Name</th>
    <th>Description</th>
    # for arch in arches
    <th>{{ arch }}</th>
    # endfor
  </tr>
  # for pkg in pkgs
  <tr>
    <td>
      <a href="packages/{{ branch }}/{{ pkg.name }}">
        {{ pkg.name }}
      </a>
    </td>
    <td>{{ pkg.description }}</td>
    # for arch in arches
    #   set apk = versions[pkg.name]|selectattr("arch", "==", arch)|list
    #   if not apk
    #     set cell = ("no", "&cross;")
    #   elif (apk|first).vrank
    #     set cell = ("partial", "~")
    #   else
    #     set cell = ("yes", "&check;")
    #   endif
    <td class="version cell-{{ cell[0] }}">{{ cell[1]|safe }}</td>
    # endfor
  </tr>
  # endfor
</table>

<nav class="pagination is-centered" aria-label="Page controls">
# if offset >= n
<a class="pagination-previous" href="packages/{{ branch }}?next={{ offset - n }}">Newer</a>
# else
<a class="pagination-previous" title="This is the first page" disabled>Newer</a>
# endif
<a class="pagination-next" href="packages/{{ branch }}?next={{ offset + n }}">Older</a>
</nav>

# endblock
